.fc-title{
    color: #fff !important;
}

.input-daterange input:last-child{
    border-radius: 0.25rem !important;
}

input#color {
    border-right: 100px solid black;
}

.card{
    margin-bottom: 15px;
}

.container{
    position: relative;
}

#color-list{
    position: absolute;
    top: 40px;
    right: 0;
    transform: translateX(100%);
    padding: 10px;
    text-align: center;
}

#color-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#color-list ul li{
    background-color: #ff0000;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 0.25rem;
    color: white;
}

#color-list-title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

#dateUpdated{
    display: none;
}